<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head')%>
  <body>
    <div class="container">
      <div class="wrapper">
        <form method="post" action="/city" class="wrapper__search" id="form">
          <input
            class="wrapper__search--input"
            type="text"
            name="city"
            placeholder="Search your city..."
          />
          <button class="wrapper__search--btn">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
    </div>

    <!-- JavaScript -->
    <script src="../public/js/app.js"></script>
  </body>
</html>
