*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  background-color: #d6dbe8;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  width: 100%;
  padding: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background-image: linear-gradient(-225deg, rgba(55, 98, 145, 0.89) 0%, rgba(171, 191, 212, 0.6) 100%);
}

.wrapper__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__search--btn {
  margin: 6px;
  height: 40px;
  width: 40px;
  line-height: 10px;
  font-size: 18px;
  outline: none;
  border-radius: 50%;
  border: 0;
  background-color: #f21f1f;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.wrapper__search--btn:hover {
  background-color: #d20c0c;
}

.wrapper__search--input {
  width: 300px;
  padding: 10px 15px;
  background: inherit;
  border: 1px solid #d6dbe8;
  outline: none;
  border-radius: 25px;
  color: #ffffff;
  font-size: 16px;
}

.wrapper__search--input::-webkit-input-placeholder {
  color: #ffffff;
}

.wrapper__search--input:-ms-input-placeholder {
  color: #ffffff;
}

.wrapper__search--input::-ms-input-placeholder {
  color: #ffffff;
}

.wrapper__search--input::placeholder {
  color: #ffffff;
}

.wrapper__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.wrapper__content--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper__content--temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.wrapper__content--fall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper__content--fall--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__reload--btn {
  margin: 6px;
  height: 40px;
  width: 40px;
  line-height: 10px;
  font-size: 20px;
  outline: none;
  border-radius: 50%;
  border: 0;
  background-color: #1919ff;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.wrapper__reload--btn:hover {
  background-color: #0000e5;
}

.location {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1px;
}

.date {
  font-size: 16px;
}

.temperature {
  font-size: 80px;
  font-weight: 500;
}

.description {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.6px;
}

.item__title {
  font-size: 14px;
  letter-spacing: 1.2px;
}

.item__title--lohi {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item__icon {
  height: 40px;
  margin: 5px 0;
}

.item__icon img {
  height: 100%;
  display: block;
}

.item__result--lohi {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.error {
  width: 100%;
  padding: 20px;
  overflow: hidden;
  text-align: center;
  color: #0b213b;
}

.error__status {
  font-size: 120px;
}

.error__text {
  font-size: 30px;
}
/*# sourceMappingURL=style.css.map */